@import url("fonts.css");

body {
    font-family: 'Roboto Flex', 'Open Sans', sans-serif;
    font-size: 18px;
    color: darkslategrey;
}

h1, h2, h3, h4, h5, h6 {
    color: darkred;
    font-weight: 700;
    line-height: 150%;
}

p {
    line-height: 1.25;
}

h1 {
    font-family: Tinos, serif;
    font-size: 48px;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 30px;
}

h2 {
    font-size: 36px;
    text-shadow:
		0 0 3px red;
}

h3 {
    font-size: 22px;
}

.disclamer {
    font-size: 36px;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.disclamer mark {
    font-weight: 700;
    font-style: italic;
    
}

.copy {
    text-transform: uppercase;
}

footer {
    white-space: nowrap;
}

ul span {
    font-weight: 700;
    font-family: Tinos, serif;
    text-decoration: dotted underline red;
}

.ecobazar {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #808080;
}

.ecobazar .bold {
    font-weight: 500;
    font-size: 18px;
    color: #1A1A1A;
}